<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
  <%= stylesheet_link_tag "main"%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
 <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
